body {
    background-color: LightYellow;
}
button.btnT {
    width: 24%;
    height: 100%;
    border-radius: 7px;
}
button.btnB {
    width: 48.9%;
    height: 100%;
    border-radius: 7px;
    margin-top: 0.4em;
    margin-botom: 0.1em;
}
pre {
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}
h4 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
div.f_frame{
    border: 1px solid black;
    border-radius: 7px;
    padding: 0.5em;
    margin-top: 0.5em;
}
div.frame {
    border: 1px solid black;
    border-radius: 7px;
    padding: 0.5em;
    margin-top: 0.5em;
}
.fragment {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    outline: none;
    border: 0px solid red;
}

