<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="net.basov.ticketinfo">

	<supports-screens
	          android:largeScreens="true"
	          android:normalScreens="true"
	          android:smallScreens="true"
	          android:anyDensity="true" />

	<uses-sdk android:minSdkVersion="19" />
  	<application android:label="@string/app_name"
		android:theme="@android:style/Theme.Light.NoTitleBar"
		android:resizeableActivity = "true"
		android:icon="@mipmap/ticket_info_a">

		<activity android:name="MainActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			    <action android:name="android.nfc.action.TECH_DISCOVERED"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
    				android:resource="@xml/nfc_tech_filter" />
		</activity>
		<activity android:name=".AppPreferencesActivity"
            android:label="@string/prefTitle"
            android:screenOrientation="nosensor">
            <intent-filer>
                <action android:name=".Preferences" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filer>
		</activity>
	</application>
	<uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="false" />
</manifest>
